.botonesAccionesForm {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
        padding: 15px 40px;
        font-weight: bold;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        color: white;
    }
    .cancelar {
        background-color: gray;
    }
    .guardar {
        background-color: $BlueXideral;
    }
    .disabledButton {
        background-color: $GrayBorder;
    }
}